.footer {
  width: 100%;
  margin-top: 220px;
  background: #000000;
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url(../../assets/img/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 440px) center;
}

.footer-row1 {
  margin-right: 100px;
}

.footer-row2 {
  margin-right: 100px;
}

.footer-title {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-link {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff !important;
  margin-bottom: 15px;
}
